<div class="layout-cadastro">
  <div class="card overflow-scroll" style="height: calc(100vh - 7.5rem)">
    <p-table
      #dt
      [value]="listUsuarios"
      dataKey="codigo"
      [rows]="getRows()"
      [scrollHeight]="'flex'"
      [scrollable]="true"
      [rowsPerPageOptions]="getRowsPerPageOptions()"
      [paginator]="true"
      [selectionPageOnly]="true">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" class="fixed-size-th-8">
            <div class="text-center">
              Código
              <p-sortIcon field="id"/>
              <p-columnFilter type="text" field="id" matchMode="contains" display="menu" [showApplyButton]="false" [hideOnClear]="true"
                              [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"/>
            </div>
          </th>
          <th pSortableColumn="nome">
            <div class="text-center">
              Nome
              <p-sortIcon field="nome"/>
              <p-columnFilter type="text" field="nome" matchMode="contains" display="menu" [showApplyButton]="false" [hideOnClear]="true"
                              [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"/>
            </div>
          </th>
          <th pSortableColumn="email">
            <div class="text-center">
              E-mail
              <p-sortIcon field="email"/>
              <p-columnFilter type="text" field="email" matchMode="contains" display="menu" [showApplyButton]="false" [hideOnClear]="true"
                              [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"/>
            </div>
          </th>
          <th></th>

        </tr>

      </ng-template>

      <ng-template pTemplate="body" let-usuario let-rowIndex="rowIndex">
        <tr>
          <td class="text-center">{{ usuario.id }}</td>
          <td class="text-center">{{ usuario.nome }}</td>
          <td class="text-center">{{ usuario.email }}</td>
          <td class="text-center">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-outlined p-button-sm mr-2"
                    (click)="openModalEdicao(usuario)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-sm"
                    (click)="excluir(usuario)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3">
            <app-empty-table></app-empty-table>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
